{{> head }}

{{> navbar }}


<div class="container-fluid">
    <div class="row">
    
        <div class="col-8">
            <h1>About Page</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/interior-5-illustrator.jpg" class="img-thumbnail" alt="Responsive image">
        </div>
       
    </div>
</div>

    
{{> footer}}